<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.orangeHrm.testscenarios.FirstCaseScenario"/>
      <class name="org.orangeHrm.testscenarios.FifthCaseScenario"/>
      <class name="org.orangeHrm.testscenarios.FourthCaseScenario"/>
      <class name="org.orangeHrm.testscenarios.ThirdCaseScenario"/>
      <class name="org.orangeHrm.testscenarios.SecondCaseScenario"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
